<div class="container-fluid vh-100 todo-container">
  <div class="row">
    <nav class="col-lg-2 bg-light p-3">
      <ul class="list-unstyled">
        <li><a class="btn btn-default text-warning menu-button"
                id="button__new_task"
                routerLink="/planned-tasks"
                routerLinkActive="active">Заплановані задачі</a></li>
        <li><a class="btn btn-default text-warning menu-button"
                id="button__completed"
                routerLink="/completed-tasks"
                routerLinkActive="active">Виконані задачі</a></li>
        <li>
          <ng-container *ngIf="!!userData;else container__no_auth">
            <div class="menu-item d-flex justify-content-between align-items-center bg-warning mt-3 border rounded w-75 p-2">
              <span>👤 {{userData.username}}</span>
              <a class="btn text-primary"
                  id="button__sign-out" (click)="logout()">Вихід</a>
            </div>
          </ng-container>
          <ng-template #container__no_auth>
            <a class="btn btn-default menu-button fw-bold text-secondary"
                id="button__sign-in"
                routerLink="/sign-in"
                routerLinkActive="text-primary-emphasis">Вхід</a>
            <a class="btn btn-default menu-button fw-bold text-secondary"
                  id="button__sign-up"
                  routerLink="/sign-up"
                  routerLinkActive="text-primary-emphasis">Реєстрація</a>
          </ng-template>
        </li>
      </ul>
    </nav>
    <main class="col-lg-10 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
