<div class="container-fluid vh-100 todo-container">
  <div class="row">
    <nav class="col-lg-3 bg-light p-3">
      <ul class="list-unstyled">
        <li><a class="btn btn-default text-warning menu-button" 
                id="button__new_task"
                routerLink="/planned-tasks"
                routerLinkActive="active">Заплановані задачі</a></li>
        <li><a class="btn btn-default text-warning menu-button"
                id="button__completed"
                routerLink="/completed-tasks"
                routerLinkActive="active">Виконані задачі</a></li>
      </ul>
    </nav>
    <main class="col-lg-9 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
