<ng-container>
  <div class="d-flex flex-column align-items-center">
    <form action="/" method="post">
        <input class="form-control" type="text" placeholder="Імʼя користувача" [(ngModel)]="username" name="username" required>
        <input class="form-control" type="password" placeholder="Пароль" [(ngModel)]="password" name="password" required>
        <input class="form-control" type="submit" value="Зареєструватися" (click)="register()">
        <div class="form-text text-danger" [hidden]="true">Виникла помилка</div>
    </form>
    <div>Вже зареєстровані? <a href="/sign-in">Увійти</a></div>
  </div>
</ng-container>
